@font-face {
  font-family: "NanumSquareNeo";
  font-style: normal;
  font-weight: 400;
  src: url("./NanumSquareNeo.woff") format("woff");
}

@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: "LilitaOne";
  font-style: normal;
  font-weight: 600;
  src: url("./LilitaOne.ttf") format("truetype");
}

@font-face {
  font-family: "Alata";
  font-style: normal;
  font-weight: 600;
  src: url("./Alata.ttf") format("truetype");
}

@font-face {
  font-family: "Jua";
  font-style: normal;
  font-weight: 600;
  src: url("./Jua.ttf") format("truetype");
}

@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  src: url("./Catamaran.ttf") format("truetype");
}

@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Adultkid";
  font-style: normal;
  font-weight: 600;
  src: url("./Adultkid.ttf") format("truetype");
}
