html {
  scrollbar-width: none;
  font-size: 16px;
}

body {
  background-color: #fff9eb;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  min-width: 320px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}